* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  font-family: "Karla", sans-serif;
  display: grid;
  place-items: center;
}

.winMsg {
  background: hsl(248, 100%, 60%);
  color: #fff;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 10px 45px;
  margin: 0;
}

main {
  background: hsla(0, 0%, 96%, 1);
  height: auto;
  max-width: 800px;
  border-radius: 10px;
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: hsla(250, 18%, 19%, 1);
  font-family: Karla;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: hsla(234, 22%, 37%, 1);
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin: 35px 0px;
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
